In [1]:
import numpy as np
import pandas as pd

In [2]:
#importamos y "limpiamos los datos"
df = pd.read_csv("international-airline-passengers.csv",engine="python",skipfooter=1)
df.columns=["Month","Passenger"]
df.head(5)

     Month  Passenger
0  1949-01        112
1  1949-02        118
2  1949-03        132
3  1949-04        129
4  1949-05        121

In [3]:
# El método .apply() permite agregar una nueva columna basados en la interacciones de 1 o más preexistentes
# Este método recibe como argumentos una función (de interaccion) y el eje (vertical=1) de la nueva columna

df["DataTime"] =df.apply(lambda row: 2*row["Passenger"],axis=1)
df.head(5)

     Month  Passenger  DataTime
0  1949-01        112       224
1  1949-02        118       236
2  1949-03        132       264
3  1949-04        129       258
4  1949-05        121       242